@import "./themes/dark.scss";
@import "./themes/light.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
  transition: background 1s ease;
}

.header {
  background-color: #b2f37d;
  height: 70px;
  max-width: 1400px;
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
